numpy~=1.19.5
flax~=0.3.4
jax[cuda]==0.2.25
optax~=0.0.9
rlax~=0.0.4
attrs~=21.2.0
gym~=0.18.3
nle~=0.7.3
minihack~=0.1.1
clu~=0.0.4
dataclasses~=0.6
PyYAML~=5.4.1
tqdm~=4.62.0
ray~=1.8.0
pytest~=7.0.1
wandb~=0.12.14